<!-- 
<!-- <p-messages [(value)]="msgs"></p-messages> -->
<p-toast position="top-right"></p-toast>


<p-tabView>
<p-tabPanel header="Login"> 
    <div>
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Username :</span>
                <input type="text" pInputText [(ngModel)]="user.name" required placeholder="UserName">         
            </div>
        </div>
        <div>
            <div class="p-col-1 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Password :</span>
                    <p-password  [(ngModel)]="user.password" required [feedback]="false" [toggleMask]="true" placeholder="password" ></p-password>        
                </div>
            </div>
        </div>
    </div>

    <p-button  (onClick)="login()" label="Login"></p-button>
</p-tabPanel>
<p-tabPanel header="Register">
    <div>
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Username :</span>
                <input type="text" pInputText [(ngModel)]="user.name" placeholder="UserName">         
            </div>
        </div>
        <div>
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Password :</span>
                    <p-password [(ngModel)]="user.password"  strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})"  [toggleMask]="true" placeholder="password" ></p-password>        
                </div>
            </div>
        </div>
    </div>
    <p-button  (onClick)="register()" label="Register"></p-button>
</p-tabPanel>
</p-tabView>
 -->
